@{
    ViewBag.Title = "Privado";
}
<center><img src="~/Scripts/Usac_logo.png" width="150"></center>
<center><h1>Equivalencias - USAC</h1></center>
<center>
    <p class="lead">Proyecto para registro de equivalencias de cunori Usac.</p>
</center>
<div class="row">
    <div class="col-md-12">
        <center>
            <h2>@Html.ActionLink("Nuevo Usuario", "Index", "USUARIO")</h2>
            <img src="~/Scripts/usuario.png" width="150">
        </center>
    </div>

</div>
